/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define TRI 3

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <LWR RSE>;
            then-layer = <TRI>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  ESC     │  Q       │  W       │  E       │  R       │  T       │   │  Y       │  U       │  I       │  O       │  P       │  Å       │
            &kp ESCAPE  &kp Q      &kp W      &kp E      &kp R      &kp T          &kp Y      &kp U      &kp I      &kp O      &kp P      &kp LBKT
        //├──────────│──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ TAB      │  A       │  S       │  D       │  F       │  G       │   │  H       │  J       │  K       │  L       │ Ö        │ Ä        │
            &kp TAB   &hm_lctl A &hm_lalt S &hm_lgui D &hm_lsft F   &kp G          &kp H    &hm_lsft J &hm_lgui K &hm_lalt L &hm_lctl SEMI &kp SQT
        //├──────────│──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ SHIFT    │  Z       │  X       │  C       │  V       │  B       │   │  N       │  M       │ , ;      │ . :      │ -        │ /        │
            &kp LSHFT   &kp Z      &kp X      &kp C      &kp V      &kp B          &kp N      &kp M     &kp COMMA  &kp DOT    &kp MINUS  &kp SLASH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &mo 1       &kp SPACE  &kp BSPC       &kp RET    &mo 2     &kp DEL
        //                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };

        lower_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  `~      │  1       │  2       │  3       │  4       │  5       │   │  6       │  7       │  8       │  9       │  0       │  =+      │
             &kp GRAVE  &kp N1     &kp N2     &kp N3     &kp N4     &kp N5         &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &kp EQUAL
        //├──────────│──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │  DELETE  │ CapsLock │ PrintSc  │  INSERT  │          │   │          │ LEFT     │ DOWN     │  UP      │ RIGHT    │          │
             &trans     &kp DEL   &kp CAPS   &kp PSCRN   &kp INS    &trans         &trans    &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT   &trans
        //├──────────│──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │          │   │          │          │ PAGE DN  │ PAGE UP  │  END     │          │
             &trans     &trans     &trans     &trans     &trans     &trans         &trans     &kp HOME  &kp PG_DN  &kp PG_UP   &kp END    &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
                                              &trans     &trans     &trans         &trans     &trans     &trans
        //                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };

        raise_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │  !       │  @       │ #       │  $        │ %        │   │ ^        │  &       │ *        │ (        │ )        │          │
             &trans     &kp EXCL   &kp AT    &kp HASH   &kp DLLR   &kp PRCNT      &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR   &kp RPAR    &trans
        //├──────────│──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │ '        │ "        │ \        │ /        │          │   │ =        │ ?        │ `        │ [        │ ]        │          │
             &trans    &kp SQT    &kp DQT    &kp BSLH   &kp FSLH    &trans        &kp EQUAL  &kp QMARK  &kp GRAVE  &kp LBKT   &kp RBKT    &trans
        //├──────────│──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │ │        │          │          │          │          │   │          │ +        │ ~        │ {        │ }        │          │
             &trans    &kp PIPE    &trans     &trans     &trans     &trans         &trans    &kp PLUS   &kp TILDE  &kp LBRC   &kp RBRC    &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
                                              &trans     &trans     &trans         &trans     &trans     &trans
        //                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };

        tri_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │  F1      │  F2      │  F3      │  F4      │ PROFILE 0│   │ PROFILE 2│          │          │ VOL MUTE │ NEXTSONG │          │
             &trans     &kp F1     &kp F2     &kp F3     &kp F4   &bt BT_SEL 0  &bt BT_SEL 2  &trans     &trans   &kp C_MUTE &kp C_NEXT   &trans
        //├──────────│──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │  F5      │  F6      │  F7      │  F8      │ PROFILE 1│   │ PROFILE 3│INC BRIGHT│          │ VOL UP   │PAUSEMUSIC│          │
             &trans     &kp F5     &kp F6     &kp F7     &kp F8    &bt BT_SEL 1  &bt BT_SEL 3 &kp C_BRI_UP &trans  &kp C_VOL_UP &kp C_PP  &trans
        //├──────────│──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │  F9      │  F10     │  F11     │  F12     │ CLEAR BT │   │ PROFILE 4│DEC BRIGHT│          │ VOL DOWN │ PREVSONG │          │
             &trans     &kp F9     &kp F10    &kp F11    &kp F12   &bt BT_CLR   &bt BT_SEL 4 &kp C_BRI_DEC &trans &kp C_VOL_DN &kp C_PREV &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
                                              &trans     &trans     &trans         &trans     &trans     &trans
        //                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };
    };
};
